.container{
        margin: 0;
    }
    #main{
        margin: 0 ;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        color: black;
    }
    @media screen and (min-width: 930px){
    
    .inmainbox{
        border: .1px solid black;
    
    }
    .bgbox{
        color: whitesmoke;
        border: 1px solid black;
    }
    #backdrop{
        max-width:90%;
        margin-left: 5%;
    }
    
    .infobox {
      position: absolute; /* Position the background text */
      top: 0; /* At the bottom. Use top:0 to append it to the top */
      margin-top: 71px;
      margin-left: 5%;
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
      width: 89.7%; 
      max-height: 625px;
    }
    #poster{
        width: 26%;
        margin: 50px;
        border-radius: 5px;
       }
    .infotextbox{
        float: right;
        max-width:65% ;
        margin-right: 2%;
        margin-top: -40%;
    }
    
    .infobox .btndl{
        margin: 20px;
    }
    .infobox a{
        font-family: 'poppins', sans-serif;
        color: white;
        text-decoration: none;
      
      }
    }
    
    
    
    
    
    
    
    
    @media screen and (max-width: 1000px){
    
        .inmain{
            height: 100%;
        
        }
        .bg{
            height: 100%;
        }
        .bg img{
            width: 0%;
            height: 0%;
        
        }
        
        .info img{
            float: left;
            border-radius: 5px;
            height: 100%;
            width: 100%;
        }
        .infotext{
            color: black;
            margin-left: 1%;
        }
        
        .info .btndl{
            margin: 10px;
        }
        .info a{
            color: white;
            font-family: 'Raleway', sans-serif;
            text-decoration: none;
          
          }
        }